body{
	background: #dc3545;
}

.fondo{
  background-image: url("../img/youtube-1719926_960_720.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.borde{
	border: 5px solid #1e1e1e;
	border-radius: 10px;}
.card img{height: 210px;}
