.fondo{
  background-image: url("../img/youtube-1719926_960_720.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  border-top: 5px solid #c51913;
}
.color{color: white;}
.bc{ background: silver;}
.borde{border: 5px solid #1e1e1e;}
.alto{height: 100px;}
.marco{height: 80px;}
.color1{background: skyblue;}
.logo{background-image: url("../img/logo.png");background-size: cover;}
header{background: #ed1c24;}
.height{height: 250px;}
.gp{background-image: url("../img/Videojuegos.jpg"); background-size: cover;}
.vl{background-image: url("../img/vlogs.jpg"); background-size: cover;}
.tuto{background-image: url("../img/tutoriales.png"); background-size: cover;}
.unb{background-image: url("../img/unboxing.jpg"); background-size: cover;}
.inf{background-image: url("../img/informativo.jpg"); background-size: cover;}
.cur{background-image: url("../img/curiosidades.jpg"); background-size: cover;}
